{% extends 'bases/base.html' %}

{% block title %}
    Изменение пароля
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row justify-content-center">
            <div class="col align-self-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center mt-5 mb-4">Изменение пароля | VDstore</h3>
                    </div>

                    <div class="panel-body">
                        {#                        {% for message in messages %}#}
                        {#                            <div class="alert alert-danger" role="alert">#}
                        {#                                {{ message }}#}
                        {#                            </div>#}
                        {#                        {% endfor %}#}
                        <div class="mb-2">
                            {% for error in form.non_field_errors %}
                                <small class="text-danger ml-3">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>
                        <form  action="{% url 'profile_change_password_url' %}" method="post">
                            {% csrf_token %}

                            <div class="mb-2">
                                {% for error in password_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                            {#                            <div class="row">#}
                            {#                                <div class="col-xs-6 col-sm-6 col-md-6">#}
                            {#                                    <div class="form-group">#}
                            {#                                        #}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div class="col-xs-6 col-sm-6 col-md-6">#}
                            {#                                    <div class="form-group">#}
                            {#                                        #}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="form-group">
                                {{ form.password0 }}
                            </div>

                            <div class="form-group">
                                {{ form.password1 }}
                            </div>

                            <div class="form-group">
                                {{ form.password2 }}
                            </div>




                            <input type="submit" value="Сохранить и Войти" class="btn btn-dark btn-block">

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}