<table class="table">
    <tbody>
    <tr>
        <td>Тип (Колонки/Наушники)</td>
        <td>{{ product.audio_type }}</td>
    </tr>
    <tr>
        <td>Тип (Проводной/Беспроводной)</td>
        <td>{{ product.audio_connection_type }}</td>
    </tr>
    <tr>
        <td>Диапазон частот (минимальная - максимальная)</td>
        <td>{{ product.frequency_range }}</td>
    </tr>
    <tr>
        <td>Чувствительность</td>
        <td>{{ product.sensitiveness }}</td>
    </tr>
    <tr>
        <td>Сопротивление</td>
        <td>{{ product.resistance }}</td>
    </tr>
    <tr>
        <td>Вес</td>
        <td>{{ product.weight }}</td>
    </tr>

    </tbody>
</table>

