{% extends "../bases/base.html" %}

{% block title %} Home  {% endblock %}

{% block content %}

{% load static %}

<!-- Page Content -->
<div class="container">




    <div class="row">


        <div class="col-lg-3">

            <h1 class="my-4">VD store</h1>
{#            <img src="{% static 'media/logo_name.png' %}" alt="logo" height="120" width="200">#}
            <div class="list-group">
                <a href="{% url 'store:show_category' "smartphones" %}" class="list-group-item">Смартфоны</a>
                <a href="{% url 'store:show_category' "laptops" %}" class="list-group-item">Ноутбуки</a>
                <a href="{% url 'store:show_category' "computers" %}" class="list-group-item">Компьютеры</a>
                <a href="{% url 'store:show_category' "smartwatches" %}" class="list-group-item">Смарт часы</a>
                <a href="{% url 'store:show_category' "tablets" %}" class="list-group-item">Планшеты</a>
                <a href="{% url 'store:show_category' "audios" %}" class="list-group-item">Аудио</a>
            </div>


{#            filters#}


            <h1 class="my-4">Фильтр</h1>
            {#            <img src="{% static 'media/logo_name.png' %}" alt="logo" height="120" width="200">#}
            <ul class="list-group" >
                <form method="post" action="{% url 'store:show_category' name %}">
                    {% csrf_token %}

                    {% if brands %}
                    <li class="list-group-item">
                        <h5>Бренд</h5>

                        {% for brand in brands%}

                            {% if brand in chosen_brands %}

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked value="" name="{{ brand }}">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {{ brand }}
                                    </label>
                                </div>

                            {% else %}

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" name="{{ brand }}">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {{ brand }}
                                    </label>
                                </div>

                            {% endif %}



                        {% endfor %}
                    </li>

                    {% endif %}

                    <li class="list-group-item">
                        <h5>Цена</h5>
                        <div class="d-flex align-items-center mt-4 pb-1">
                            <div class="md-form md-outline my-0">
                                <input name="from" type="text" class="form-control mb-0" value="{{ price_from }}">
                                <label for="form">Мин</label>
                            </div>
                            <p class="px-4 mb-0 text-muted"> - </p>
                            <div class="md-form md-outline my-0">
                                <input name="to" type="text" class="form-control mb-0" value="{{ price_to }}">
                                <label for="to">Макс</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="submit" value="Применить" class="btn btn-dark btn-block mt-1">
                    </li>
                </form>
            </ul>
            <br>

            {#                filters#}


        </div>






        <!-- /.col-lg-3 -->

        <div class="col-lg-9 mt-4">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                </ol>
            </nav>


            <div class="row">


                {% if current %}

                    {% for item in current %}

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{% url 'store:product_detail_url' item.id %}"><img class="card-img-top" src="{{item.image.url}}" width="250" height="200" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{% url 'store:product_detail_url' item.id %}">{{item.title}}</a>
                                    </h4>
                                    <p class="card-text">{{item.color}}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">₴ {{item.price}}</small>
                                    <!--                            #todo button: buy-->
                                </div>
                            </div>
                        </div>





                    {% endfor %}

                {% else %}

                    <p>По заданным параметрам результатов нет :( </p>

                {% endif %}


            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}