<table class="table">
    <tbody>
    <tr>
        <td>Материал корпуса</td>
        <td>{{ product.material }}</td>
    </tr>
    <tr>
        <td>Процессор</td>
        <td>{{ product.cpu }}</td>
    </tr>
    <tr>
        <td>Оперативная память</td>
        <td>{{ product.ram }}</td>
    </tr>
    <tr>
        <td>Встроенная память</td>
        <td>{{ product.mem }}</td>
    </tr>
    <tr>
        <td>Тип встроенной памяти (SSD/HDD)</td>
        <td>{{ product.mem_type }}</td>
    </tr>
    <tr>
        <td>Видеокарта</td>
        <td>{{ product.gpu }}</td>
    </tr>
    <tr>
        <td>Тип видеокарты (Дискретная/Интегрированная)</td>
        <td>{{ product.gpu_type }}</td>
    </tr>
    <tr>
        <td>Вес</td>
        <td>{{ product.weight }}</td>
    </tr>

    </tbody>
</table>