<table class="table">
    <tbody>
    <tr>
        <td>Для кого (Мужские/Женские/Унисекс)</td>
        <td>{{ product.sex }}</td>
    </tr>
    <tr>
        <td>Платформа</td>
        <td>{{ product.system }}</td>
    </tr>
    <tr>
        <td>Процессор</td>
        <td>{{ product.cpu }}</td>
    </tr>
    <tr>
        <td>Материал корпуса</td>
        <td>{{ product.material }}</td>
    </tr>
    <tr>
        <td>Тип экрана</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Диагональ экрана</td>
        <td>{{ product.display_diagonal }}</td>
    </tr>
    <tr>
        <td>Вес</td>
        <td>{{ product.weight }}</td>
    </tr>

    </tbody>
</table>