<table class="table">
    <tbody>
    <tr>
        <td>Стандарт защиты от воды</td>
        <td>{{ product.water_resist }}</td>
    </tr>
    <tr>
        <td>Вес</td>
        <td>{{ product.weight }}</td>
    </tr>
    <tr>
        <td>Цвет</td>
        <td>{{ product.color }}</td>
    </tr>
    <tr>
        <td>Тип экрана</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Диагональ экрана</td>
        <td>{{ product.display_diagonal }}</td>
    </tr>
    <tr>
        <td>Разрешение основной камеры</td>
        <td>{{ product.main_camera }}</td>
    </tr>
    <tr>
        <td>Разрешение фронтальной камеры</td>
        <td>{{ product.front_camera }}</td>
    </tr>
    <tr>
        <td>Процессор</td>
        <td>{{ product.cpu }}</td>
    </tr>
    <tr>
        <td>Оперативная память</td>
        <td>{{ product.ram }}</td>
    </tr>
    <tr>
        <td>Встроенная память</td>
        <td>{{ product.ssd }}</td>
    </tr>
    <tr>
        <td>Платформа</td>
        <td>{{ product.system }}</td>
    </tr>

    </tbody>
</table>
